<html>
  <head>
    <title> Meadowlark Travel</title>

  </head>
  <body>
    <header>
      <img
        src="/public/img/do-the-grafic-design-for-logo.jpg"
        alt="Meadowlark Travel Logo"
      />
    </header>
    {{body}}
  </body>
</html>